<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Wait_Accessor" value="n/a"/>
    <add key="Wait_ExpectedValue" value="Wait - 5000"/>
    <add key="Wait_AccessorType" value="n/a"/>
    <add key="Wait_PerformNonReadAction" value="true"/>
    <add key="Wait_Crucial" value="false"/>
  </appSettings>
</configuration>